<h1><%= t 'activerecord.controllers.static_pages.home.title' %></h1>
<p><%= t 'activerecord.controllers.static_pages.home.teachers' %></p>
<p><%= t 'activerecord.controllers.static_pages.home.description' %></p>
<p><%= t 'activerecord.controllers.static_pages.home.location' %></p>
<p><%= t 'activerecord.controllers.static_pages.home.date' %></p>
