<h1><%= t 'activerecord.controllers.static_pages.programs.menu_title'%></h1>
<h4><%= t 'activerecord.controllers.static_pages.programs.description'%></h4>

<ul>
	<li><%= t 'activerecord.controllers.static_pages.programs.first_program'%></li>
	<li><%= t 'activerecord.controllers.static_pages.programs.second_program'%></li>
	<li><%= t 'activerecord.controllers.static_pages.programs.third_program'%></li>
	<li><%= t 'activerecord.controllers.static_pages.programs.fourth_program'%></li>
	<li><%= t 'activerecord.controllers.static_pages.programs.fifth_program'%></li>
	<li><%= t 'activerecord.controllers.static_pages.programs.sixth_program'%></li>
</ul>


