<h1><%= t 'activerecord.controllers.static_pages.traveling_teachers.title'%></h1>
<h2><%= t 'activerecord.controllers.static_pages.traveling_teachers.subtitle'%></h2>
<h3><%= t 'activerecord.controllers.static_pages.traveling_teachers.menu_title'%></h3>
<p><%= t 'activerecord.controllers.static_pages.traveling_teachers.par_1' %></p>
<p><%= t 'activerecord.controllers.static_pages.traveling_teachers.par_2' %></p>
<p><%= t 'activerecord.controllers.static_pages.traveling_teachers.par_3' %></p>